pxl-link {
    display: contents;
    text-decoration: underline;
    color: var(--color-link);
    //wraps svg to prevent orphan wrapping
    span { 
        white-space: nowrap; 
    }
    svg {
        width: 1em;
        height: 1em;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }
}
