:root {
--eggplant: #704c5eff;
--indigo: #0b4f6cff;
--white: #fcffffff;
--gray: #9fa2b2ff;
--celadon: #a5e6baff;
}

body {
    margin: 0;
}
.container {
    max-width: 1280px;
    margin:0 auto;
}
header {
    height: 20vh;
    background-color: var(--eggplant);
    text-align: center;
}